#container{
    width: 400px;
    background-color:aliceblue;
    padding: 20px;
}
input{
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;

}
.ul-list{
     margin: 15px;
}
.ul-list>li{
    background-color: antiquewhite;
    padding: 5px;
    margin-bottom: 2px;
    display: flex;
    justify-content:space-between
} 
.form>input{
    margin-bottom: 5px;
}
.btn{
   
    display: flex;
    justify-content: flex-end;
}
.btn>button{
    margin-bottom: 25px;
    margin-top: 5px;
    padding: 5px;
    width: 130px;
}